<div class="p-grid">
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col">
                <button pButton type="button" label="New Case" (click)="createCase()"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Cases">
                    <p-table [value]="cases">
                        <ng-template pTemplate="Cases">
                            <tr>
                                <th pSortableColumn="CaseId">Id <p-sortIcon field="code"></p-sortIcon></th>
                                <th pSortableColumn="Doctor">Doctor <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="Received">Received <p-sortIcon field="category"></p-sortIcon></th>
                                <th pSortableColumn="Due">Due <p-sortIcon field="quantity"></p-sortIcon></th>
                                <th pSortableColumn="Price">Price <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="Remake">Remake <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="Rush">Rush <p-sortIcon field="price"></p-sortIcon></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-c>
                            <tr>
                                <td>{{c.caseId}}</td>
                                <td>{{c.doctorId}}</td>
                                <td>{{c.receiveDate}}</td>
                                <td>{{c.dueDate}}</td>
                                <td>{{c.price | currency: 'USD'}}</td>
                                <td>{{c.remake}}</td>
                                <td>{{c.rush}}</td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </div>
</div>

<!-- CREATE -->
<p-dialog header="Create New Case" [(visible)]="displayCreate" (onHide)="cancelCreate()" [style]="{'width': '50vw'}">
    <!-- <form [formGroup]="caseForm" (ngSubmit)="saveNewCase()">
        <form [formGroup]="patientForm" (ngSubmit)="saveNewCase()">
            <form [formGroup]="toothForm" (ngSubmit)="saveNewCase()">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="DoctorId" class="p-mr-2">Select Doctor</label>
                        <p-dropdown [options]="doctors" optionLabel="LastName" optionValue="DoctorId"></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="ReceiveDate" class="p-mr-2">Receive Date</label>
                        <p-calendar id="ReceiveDate" formControlName="ReceiveDate"></p-calendar>
                    </div>
                    <div class="p-field">
                        <label for="DueDate" class="p-mr-2">Due Date</label>
                        <p-calendar id="DueDate" formControlName="DueDate"></p-calendar>
                    </div>
                    <div class="p-field">
                        <label for="Price" class="p-mr-2">Price</label>
                        <input id="Price" type="Text" pInputText formControlName="Price" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="Remake" class="p-mr-2">Remake</label>
                        <input id="Remake" type="Text" pInputText formControlName="Remake" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="Rush" class="p-mr-2">Rush</label>
                        <input id="Rush" type="Text" pInputText formControlName="Rush" [style]="{'width': '100%'}">
                    </div>
                </div>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="FirstName" class="p-mr-2">First Name</label>
                        <input id="FirstName" type="Text" pInputText formControlName="FirstName" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="LastName" class="p-mr-2">Last Name</label>
                        <input id="LastName" type="Text" pInputText formControlName="LastName" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="Phone" class="p-mr-2">Phone</label>
                        <input id="Phone" type="Text" pInputText formControlName="Phone" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="Address" class="p-mr-2">Address</label>
                        <input id="Address" type="Text" pInputText formControlName="Address" [style]="{'width': '100%'}">
                    </div>
                </div>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="ToothType" class="p-mr-2">Tooth Type</label>
                        <p-dropdown [options]="types" optionLabel="Tooth Type" optionValue="Name"></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="ToothNumber" class="p-mr-2">Tooth Number</label>
                        <input id="ToothNumber" type="Text" pInputText formControlName="ToothNumber" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="Shade" class="p-mr-2">Shade</label>
                        <input id="Shade" type="Text" pInputText formControlName="Shade" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        Price = $123
                    </div>
                </div>
                <div class="p-d-flex p-jc-end">
                    <div class="p-mr-2">
                        <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelCreate()"></button>
                    </div>
                    <div class="p-mr-2">
                        <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="saveNewCase()"></button>
                    </div>
                </div>
            </form>
        </form>
    </form> -->

    <form [formGroup]="caseForm" (ngSubmit)="saveNewCase()">
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="DoctorId" class="p-mr-2">Select Doctor</label>
                        <p-dropdown [options]="doctors" optionLabel="LastName" optionValue="DoctorId"></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="ReceiveDate" class="p-mr-2">Receive Date</label>
                        <p-calendar id="ReceiveDate" formControlName="ReceiveDate"></p-calendar>
                    </div>
                    <div class="p-field">
                        <label for="DueDate" class="p-mr-2">Due Date</label>
                        <p-calendar id="DueDate" formControlName="DueDate"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="Price" class="p-mr-2">Price</label>
                        <p>toothType.Price</p>
                    </div>
                    <div class="p-field">
                        <label for="Remake" class="p-mr-2">Remake</label>
                        <p-checkbox formControlName="Remake" binary="true" inputId="binary"></p-checkbox>
                    </div>
                    <div class="p-field">
                        <label for="Rush" class="p-mr-2">Rush</label>
                        <p-checkbox formControlName="Rush" binary="true" inputId="binary"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b>Patient</b>
            </div>
        </p-divider>
        <app-patient-form></app-patient-form>
        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-book p-mr-2"></i>
                <b>Teeth</b>
            </div>
        </p-divider>
        <app-tooth-form></app-tooth-form>

        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelCreate()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="saveNewCase()"></button>
            </div>
        </div>
    </form>


</p-dialog>

<!-- EDIT -->
<p-dialog header="Edit Case" [(visible)]="displayEdit" (onHide)="cancelEdit()" [style]="{'width': '50vw'}">
    <form [formGroup]="caseForm" (ngSubmit)="updateCase()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="ReceiveDate" class="p-mr-2">ReceiveDate</label>
                <input id="ReceiveDate" type="Text" pInputText formControlName="ReceiveDate" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="DueDate" class="p-mr-2">Last Name</label>
                <input id="DueDate" type="Text" pInputText formControlName="DueDate" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Price" class="p-mr-2">Price</label>
                <input id="Price" type="Text" pInputText formControlName="Price" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Remake" class="p-mr-2">Remake</label>
                <input id="Remake" type="Text" pInputText formControlName="Remake" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Rush" class="p-mr-2">Remake</label>
                <input id="Rush" type="Text" pInputText formControlName="Rush" [style]="{'width': '100%'}">
            </div>
        </div>
        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelEdit()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="updateCase()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="p-button-danger" icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>