<div class="p-grid">
    <div class="p-col">
        <p-card header="Patients">
            <p-table [value]="cazes" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="CazeNum">Case</th>
                        <th pSortableColumn="PatientLastName">Patient</th>
                        <th pSortableColumn="DoctorName">Doctor</th>
                        <th pSortableColumn="Tooth">Tooth</th>
                        <th pSortableColumn="TType">Type</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c>
                    <tr>
                        <td>{{c.CazeNum}}</td>
                        <td>{{c.PatientLastName}}, {{c.PatientFirstName}}</td>
                        <td>{{c.DoctorName}}</td>
                        <td>{{c.Tooth}}</td>
                        <td>{{c.TType}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>