<div class="p-grid" formGroupName="patientInfo">
    <div class="p-col">
        <div class="p-fluid">
            <div class="p-field">
                <label for="FirstName" class="p-mr-2">First Name</label>
                <input id="FirstName" type="Text" pInputText formControlName="FirstName" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="LastName" class="p-mr-2">Last Name</label>
                <input id="LastName" type="Text" pInputText formControlName="LastName" [style]="{'width': '100%'}">
            </div>
        </div>
    </div>
    <div class="p-col">
        <div class="p-fluid">
            <div class="p-field">
                <label for="Phone" class="p-mr-2">Phone</label>
                <input id="Phone" type="Text" pInputText formControlName="Phone" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Address" class="p-mr-2">Address</label>
                <input id="Address" type="Text" pInputText formControlName="Address" [style]="{'width': '100%'}">
            </div>
        </div>
    </div>
</div>