<div class="p-grid">
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col">
                <button pButton type="button" label="New Doctor" (click)="createDoctor()"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Doctors">
                    <p-table [value]="doctors">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Address</th>
                                <th>Phone</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc>
                            <tr>
                                <td>{{doc.DoctorId}}</td>
                                <td>{{doc.FirstName}}</td>
                                <td>{{doc.LastName}}</td>
                                <td>{{doc.Address}}</td>
                                <td>{{doc.Phone}}</td>
                                <td>
                                    <button pButton type="button" class="p-button-warning" icon="pi pi-pencil" (click)="editDoctor(doc)"></button>
                                    <button pButton type="button" class="p-button-danger" icon="pi pi-times" (click)="deleteDoctor(doc.DoctorId)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>

    </div>
</div>

<!-- CREATE -->
<p-dialog header="Create Doctor" [(visible)]="displayCreate" (onHide)="cancelCreate()" [style]="{'width': '50vw'}">
    <form [formGroup]="doctorForm" (ngSubmit)="saveNewDoctor()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="FirstName" class="p-mr-2">First Name</label>
                <input id="FirstName" type="Text" pInputText formControlName="FirstName" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="LastName" class="p-mr-2">Last Name</label>
                <input id="LastName" type="Text" pInputText formControlName="LastName" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Address" class="p-mr-2">Address</label>
                <input id="Address" type="Text" pInputText formControlName="Address" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Phone" class="p-mr-2">Phone</label>
                <input id="Phone" type="Text" pInputText formControlName="Phone" [style]="{'width': '100%'}">
            </div>
        </div>
        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelCreate()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="saveNewDoctor()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<!-- EDIT -->
<p-dialog header="Edit Doctor" [(visible)]="displayEdit" (onHide)="cancelEdit()" [style]="{'width': '50vw'}">
    <form [formGroup]="doctorForm" (ngSubmit)="updateDoctor()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="FirstName" class="p-mr-2">First Name</label>
                <input id="FirstName" type="Text" pInputText formControlName="FirstName" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="LastName" class="p-mr-2">Last Name</label>
                <input id="LastName" type="Text" pInputText formControlName="LastName" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Address" class="p-mr-2">Address</label>
                <input id="Address" type="Text" pInputText formControlName="Address" [style]="{'width': '100%'}">
            </div>
            <div class="p-field">
                <label for="Phone" class="p-mr-2">Phone</label>
                <input id="Phone" type="Text" pInputText formControlName="Phone" [style]="{'width': '100%'}">
            </div>
        </div>
        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelEdit()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="updateDoctor()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="p-button-danger" icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>