<div class="p-grid">
    <div class="p-col">
        <p-card header="header">
            Content
        </p-card>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Cases Due This Week">
            <!-- <p-table[scrollable]="true" [rows]="50" scrollHeight="250px"
            [virtualScroll]="true" [virtualRowHeight]="20">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr style="height:34px">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Outgoing Cases">
            Content
        </p-card>            
    </div>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="New Cases">
            Content
        </p-card>            
    </div>
    <div class="p-col-6">
        <p-card header="Rush Cases">
            Content
        </p-card>            
    </div>
</div>