<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Cases Due Soon(7 days)">
            <p-table [value]="weekCazes" [scrollable]="true" styleClass="p-datatable-sm" [rows]="50" scrollHeight="250px" [virtualRowHeight]="20">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="DoctorName">Doctor</th>
                        <th pSortableColumn="Received">Received</th>
                        <th pSortableColumn="Due">Due</th>
                        <th pSortableColumn="Remake">Remake</th>
                        <th pSortableColumn="Rush">Rush</th>
                        <th pSortableColumn="PatientLastName">Patient</th>
                        <th pSortableColumn="Type">Type</th>
                        <th pSortableColumn="Shade">Shade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-wc>
                    <tr style="height:34px">
                        <td>{{wc.DoctorName}}</td>
                        <td>{{wc.ReceiveDate.toDate() | date :'fullDate'}}</td>
                        <td>{{wc.DueDate.toDate() | date :'fullDate'}}</td>
                        <td>
                            <i class="pi pi-check" *ngIf="wc.Remake"></i>
                        </td>
                        <td>
                            <i class="pi pi-check" *ngIf="wc.Rush"></i>
                        </td>
                        <td>{{wc.PatientLastName}}, {{wc.PatientFirstName}}</td>
                        <td>{{wc.TType}}</td>
                        <td>{{wc.Shade}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Rush Cases">
            <p-table [value]="rushCazes" [scrollable]="true" styleClass="p-datatable-sm" [rows]="50" scrollHeight="250px" [virtualRowHeight]="20">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="DoctorName">Doctor</th>
                        <th pSortableColumn="Received">Received</th>
                        <th pSortableColumn="Due">Due</th>
                        <th pSortableColumn="Remake">Remake</th>
                        <th pSortableColumn="PatientLastName">Patient</th>
                        <th pSortableColumn="Type">Type</th>
                        <th pSortableColumn="Shade">Shade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rc>
                    <tr style="height:34px">
                        <td>{{rc.DoctorName}}</td>
                        <td>{{rc.ReceiveDate.toDate() | date :'fullDate'}}</td>
                        <td>{{rc.DueDate.toDate() | date :'fullDate'}}</td>
                        <td>
                            <i class="pi pi-check" *ngIf="rc.Remake"></i>
                        </td>
                        <td>{{rc.PatientLastName}}, {{rc.PatientFirstName}}</td>
                        <td>{{rc.TType}}</td>
                        <td>{{rc.Shade}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>            
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <p-card header="Complete: Need to Deliver">
            <p-table [value]="outCazes" [scrollable]="true" styleClass="p-datatable-sm" [rows]="50" scrollHeight="250px" [virtualRowHeight]="20">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="DoctorName">Doctor</th>
                        <th pSortableColumn="Received">Received</th>
                        <th pSortableColumn="Due">Due</th>
                        <th pSortableColumn="Remake">Remake</th>
                        <th pSortableColumn="Rush">Rush</th>
                        <th pSortableColumn="PatientLastName">Patient</th>
                        <th pSortableColumn="Type">Type</th>
                        <th pSortableColumn="Shade">Shade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c>
                    <tr style="height:34px">
                        <td>{{c.DoctorName}}</td>
                        <td>{{c.ReceiveDate.toDate() | date :'fullDate'}}</td>
                        <td>{{c.DueDate.toDate() | date :'fullDate'}}</td>
                        <td>
                            <i class="pi pi-check" *ngIf="c.Remake"></i>
                        </td>
                        <td>
                            <i class="pi pi-check" *ngIf="c.Rush"></i>
                        </td>
                        <td>{{c.PatientLastName}}, {{c.PatientFirstName}}</td>
                        <td>{{c.TType}}</td>
                        <td>{{c.Shade}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>            
    </div>
</div>