<form [formGroup]="cazeForm" (ngSubmit)="saveNewCaze()">
    <div class="p-grid">
        <div class="p-col">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="DoctorId" class="p-mr-2">Select Doctor</label>
                    <p-dropdown [options]="doctors" placeholder="Select a Doctor" optionLabel="LastName" formControlName="DoctorId" optionValue="DoctorId"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="ReceiveDate" class="p-mr-2">Receive Date</label>
                    <p-calendar id="ReceiveDate" formControlName="ReceiveDate"></p-calendar>
                </div>
                <div class="p-field">
                    <label for="DueDate" class="p-mr-2">Due Date</label>
                    <p-calendar id="DueDate" formControlName="DueDate"></p-calendar>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="Price" class="p-mr-2">Price</label>
                    <input id="Price" type="Text" pInputText formControlName="Price" [style]="{'width': '100%'}">
                </div>
                <div class="p-field">
                    <label for="Remake" class="p-mr-2">Remake</label>
                    <p-checkbox formControlName="Remake" binary="true" inputId="binary"></p-checkbox>
                </div>
                <div class="p-field">
                    <label for="Rush" class="p-mr-2">Rush</label>
                    <p-checkbox formControlName="Rush" binary="true" inputId="binary"></p-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="p-d-flex p-jc-end">
        <div class="p-mr-2">
            <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelCreate()"></button>
        </div>
        <div class="p-mr-2">
            <button pButton type="button" label="Save" class="p-mr-2-secondary" (click)="saveNewCaze()"></button>
        </div>
    </div>
</form>