<div class="p-grid">
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col">
                <button pButton type="button" label="New Case" (click)="createCaze()"></button>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <p-card header="Cases">
                    <p-table [value]="cazes" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="CazeNum">Case Number</th>
                                <th pSortableColumn="Doctor">Doctor</th>
                                <th pSortableColumn="Received">Received</th>
                                <th pSortableColumn="Due">Due</th>
                                <th pSortableColumn="Price">Price</th>
                                <th pSortableColumn="Remake">Remake</th>
                                <th pSortableColumn="Rush">Rush</th>
                                <th pSortableColumn="PatientLastName">Patient</th>
                                <th pSortableColumn="Type">Type</th>
                                <th pSortableColumn="Shade">Shade</th>
                                <th pSortableColumn="Status">Status</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-c>
                            <tr>
                                <td>{{c.CazeNum}}</td>
                                <td>{{c.DoctorName}}</td>
                                <td>{{c.ReceiveDate.toDate().toString() | date :'fullDate'}}</td>
                                <td>{{c.DueDate.toDate().toString() | date :'fullDate'}}</td>
                                <td>{{c.Price | currency: 'USD'}}</td>
                                <td>
                                    <i class="pi pi-check" *ngIf="c.Remake"></i>
                                </td>
                                <td>
                                    <i class="pi pi-check" *ngIf="c.Rush"></i>
                                </td>
                                <td>{{c.PatientLastName}}, {{c.PatientFirstName}}</td>
                                <td>{{c.TType}}</td>
                                <td>{{c.Shade}}</td>
                                <td>{{c.Status}}</td>
                                <td>
                                    <button pButton type="button" class="p-button-warning" icon="pi pi-pencil" (click)="editCaze(c)"></button>
                                    <button pButton type="button" class="p-button-danger" icon="pi pi-times" (click)="deleteCaze(c)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </div>
</div>

<!-- CREATE -->
<p-dialog header="Create New Case" [(visible)]="displayCreate" (onHide)="cancelCreate()" [style]="{'width': '60vw', 'height': '46vw'}">
    <form [formGroup]="cazeForm" (ngSubmit)="saveNewCaze()">
        <div class="p-grid">
            <div class="p-col">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2"></i>
                        <b>Doctor</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="DoctorId" class="p-mr-2">Select Doctor</label>
                        <p-dropdown [options]="doctors" placeholder="Doctor" optionLabel="LastName" formControlName="DoctorName" optionValue="LastName"></p-dropdown>
                    </div>
                </div>
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2"></i>
                        <b>Patient</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <input id="PatientFirstName" type="Text" pInputText formControlName="PatientFirstName" placeholder="First Name" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <input id="PatientLastName" type="Text" pInputText formControlName="PatientLastName" placeholder="Last Name" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
            <div class="p-col">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-calendar p-mr-2"></i>
                        <b>Date</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="ReceiveDate" class="p-mr-2">Receive Date</label>
                        <p-calendar id="ReceiveDate" formControlName="ReceiveDate"></p-calendar>
                    </div>
                    <div class="p-field">
                        <label for="DueDate" class="p-mr-2">Due Date</label>
                        <p-calendar id="DueDate" formControlName="DueDate"></p-calendar>
                    </div>
                </div>
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-forward p-mr-2"></i>
                        <b>Priority</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="p-field">
                                Remake
                                <p-checkbox formControlName="Remake" binary="true" inputId="binary"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-field">
                                Rush
                                <p-checkbox formControlName="Rush" binary="true" inputId="binary"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-book p-mr-2"></i>
                <b>Teeth</b>
            </div>
        </p-divider>

        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="TType" class="p-mr-2">Tooth Type</label>
                        <p-dropdown [options]="types" placeholder="Select a Type" optionLabel="Name" formControlName="ToothTypeId" optionValue="ToothTypeId"></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="Tooth" class="p-mr-2">Tooth Number</label>
                        <input id="Tooth" type="number" pInputText formControlName="Tooth" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="Shade" class="p-mr-2">Shade</label>
                        <input id="Shade" type="Text" pInputText formControlName="Shade" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
        </div>

        <p-divider align="left">
        </p-divider>

        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelCreate()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary p-button-success" (click)="saveNewCaze()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<!-- EDIT -->
<p-dialog header="Edit Case" [(visible)]="displayEdit" (onHide)="cancelEdit()" [style]="{'width': '60vw', 'height': '46vw'}">
    <form [formGroup]="cazeForm" (ngSubmit)="updateCaze()">
        <div class="p-grid">
            <div class="p-col">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2"></i>
                        <b>Doctor</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="DoctorId" class="p-mr-2">Select Doctor</label>
                        <p-dropdown [options]="doctors" placeholder="Select a Doctor" optionLabel="LastName" formControlName="DoctorName" optionValue="LastName"></p-dropdown>
                    </div>
                </div>
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2"></i>
                        <b>Patient</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="PatientFirstName" class="p-mr-2">First Name</label>
                        <input id="PatientFirstName" type="Text" pInputText formControlName="PatientFirstName" [style]="{'width': '100%'}">
                    </div>
                    <div class="p-field">
                        <label for="PatientLastName" class="p-mr-2">Last Name</label>
                        <input id="PatientLastName" type="Text" pInputText formControlName="PatientLastName" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
            <div class="p-col">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-calendar p-mr-2"></i>
                        <b>Date</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="ReceiveDate" class="p-mr-2">Receive Date</label>
                        <p-calendar id="ReceiveDate" formControlName="ReceiveDate" [defaultDate]="this.receiveDate"></p-calendar>
                    </div>
                    <div class="p-field">
                        <label for="DueDate" class="p-mr-2">Due Date</label>
                        <p-calendar id="DueDate" formControlName="DueDate" [defaultDate]="this.dueDate"></p-calendar>
                    </div>
                </div>
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-forward p-mr-2"></i>
                        <b>Priority</b>
                    </div>
                </p-divider>
                <div class="p-fluid">
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="p-field">
                                Remake
                                <p-checkbox formControlName="Remake" binary="true" inputId="binary"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-field">
                                Rush
                                <p-checkbox formControlName="Rush" binary="true" inputId="binary"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-book p-mr-2"></i>
                <b>Teeth</b>
            </div>
        </p-divider>

        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="TType" class="p-mr-2">Tooth Type</label>
                        <p-dropdown [options]="types" optionLabel="Name" formControlName="ToothTypeId" optionValue="ToothTypeId"></p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="Tooth" class="p-mr-2">Tooth Number</label>
                        <input id="Tooth" type="number" pInputText formControlName="Tooth" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="Shade" class="p-mr-2">Shade</label>
                        <input id="Shade" type="Text" pInputText formControlName="Shade" [style]="{'width': '100%'}">
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="Shade" class="p-mr-2">Status</label>
                        <p-dropdown [options]="status" formControlName="Status"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
                <button pButton type="button" label="Cancel" class="p-mr-2-secondary" (click)="cancelEdit()"></button>
            </div>
            <div class="p-mr-2">
                <button pButton type="button" label="Save" class="p-mr-2-secondary p-button-success" (click)="updateCaze()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="p-button-danger" icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-toast position="bottom-right" key="create"></p-toast>
<p-toast position="bottom-right" key="update"></p-toast>
<p-toast position="bottom-right" key="delete"></p-toast>